*.o
*.a
auto-ccld.sh
make-load
find-systype
systype
load
make-compile
compile
fork.h
make-makelib
makelib
hassgprm.h
hassgact.h
hasflock.h
haswaitp.h
auto-str
auto_qmail.c
auto-int8
auto_patrn.c
socket.lib
qmail-local
uint32.h
select.h
auto-int
auto_spawn.c
chkspawn
chkshsgr
hasshsgr.h
auto-uid
auto-gid
auto_uids.c
qmail-lspawn
qmail-newmvrt
auto_break.c
auto_usera.c
qmail-getpw
srsfilter
srs
hassalen.h
dns.lib
qmail-remote
qmail-rspawn
direntry.h
auto_split.c
qmail-clean
hasmkffo.h
hasnpbg1.h
qmail-send
# scripts/example-supervise/supervise/qmail-send dir must be included
!qmail-send/
qmail-start
syslog.lib
splogger
qmail-queue
spfquery
qmail-inject
predate
datemail
mailsubj
qmail-upq
qmail-showctl
qmail-newu
qmail-pw2u
qmail-qread
qmail-qstat
qmail-tcpto
qmail-tcpok
qmail-pop3d
# scripts/example-supervise/supervise/qmail-pop3d must be included
!qmail-pop3d/
qmail-popup
qmail-qmqpc
qmail-qmqpd
qmail-qmtpd
qmail-smtpd
# scripts/example-supervise/supervise/qmail-smtpd dir must be included
!qmail-smtpd/
sendmail
tcp-env
qmail-newmrh
config
config-fast
config-all
dnscname
dnsptr
dnsip
dnsmxip
dnstxt
dnsfq
hostname
ipmeprint
ipmetest
qreceipt
qsmhook
qbiff
forward
preline
condredirect
bouncesaying
except
maildirmake
maildir2mbox
maildirwatch
qail
elq
pinq
idedit
install-big
install
instcheck
home
home+df
proc
proc+df
binm1
binm1+df
binm2
binm2+df
binm3
binm3+df
Makefile-cert
it
qmail-local.0
qmail-lspawn.0
qmail-getpw.8
qmail-getpw.0
qmail-remote.0
qmail-rspawn.0
qmail-clean.0
qmail-send.8
qmail-send.0
qmail-start.8
qmail-start.0
splogger.0
qmail-queue.0
qmail-inject.0
mailsubj.0
qmail-showctl.0
qmail-newu.8
qmail-newu.0
qmail-pw2u.8
qmail-pw2u.0
qmail-qread.0
qmail-qstat.0
qmail-tcpto.0
qmail-tcpok.0
qmail-pop3d.0
qmail-popup.0
qmail-qmqpc.0
qmail-qmqpd.0
qmail-qmtpd.0
qmail-smtpd.0
tcp-env.0
qmail-newmrh.8
qmail-newmrh.0
qreceipt.0
qbiff.0
forward.0
preline.0
condredirect.0
bouncesaying.0
except.0
maildirmake.0
maildir2mbox.0
maildirwatch.0
qmail.0
qmail-limits.7
qmail-limits.0
qmail-log.0
qmail-control.5
qmail-control.0
qmail-header.0
qmail-users.5
qmail-users.0
dot-qmail.5
dot-qmail.0
qmail-command.0
tcp-environ.0
maildir.0
mbox.0
addresses.0
envelopes.0
forgeries.0
man
setup
check
qmail-todo
update_tmprsadh
qmail-dkim
libdkim.a
dkim
dkim.8
qmail-dkim.8
qmail-dkim.0
spawn-filter
wildmat
spawn-filter.8
spawn-filter.0
surblfilter
surblfilter.8
uint64.h
surblqueue
surblfilter.0
dknewkey
dknewkey.8
time_t_size.h
channels.h
conf-policy.temp
unittest_stralloc
qtmp.h
helodnscheck
qmail-qfilter
qmail-qfilter.0
